{% extends 'note/base.html' %}
{% load static %}
{% block title %} StandingNotation | Archived Forms {% endblock title %}
{% block content %} 

        
  <main id="main" class="main">

    {% include "note/alert.html" %}

    <section class="section">
      
        <div class="container-fluid">
          <header class="text-center">
            <h2><i class="bi bi-textarea-resize text-warning"></i> Archived <span class="text-warning"> Forms</span></h2>
            <p class="lead">View your Archived Forms.</p>
          </header>
          <div class="row justify-content-center">
             <!-- End Table -->
             <div class="col-12">
              <div class="card recent-sales overflow-auto">

                  <div class="row">
                    <div class="col-md-12 text-center">
                      <a href="{% url 'forms' %}" class="mb-4 mt-4 get-started-btn-inverted">View All Forms</a>
                    </div>
                  </div>
                  
                <div class="card-body">
                  {% if forms %}
                  
                

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Entries</th>
                        <th scope="col">Scheduled For</th>
                        <th scope="col">Details</th>
                        <th scope="col">Revive</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for form in forms %}
                      <tr>
                        <td>{{form.title}}</td>
                        <td>{{form.entry_count}} Entries</td>
                        <td>{{form.scheduled_time}}</td>
                        <td><a href="{% url 'form-details' form.id %}" class="get-started-btn-inverted">See Details</a></td>
                        <td><a href="{% url 'revive-form' form.id %}"><i class="bi bi-check text-success"></i></a></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  {% else %}
                  <div class="row p-5">
                    <div class="col-md-12 text-center">
                        <h4>Nothing to see here... 👾</h4>  
                    </div>
                  </div>
                    
                  {% endif %}

                </div>

              </div>
            </div><!-- End Table -->
          </div>
        </div>

    </section>

  </main>

        

{% endblock content %}
 